{% extends "catalog/base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        <h2>Вход</h2>
        {% if info_error.error %}
            <div class="error">{{ info_error.error }}</div>
        {% endif %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label }}
            {{ field }}
            {% for error in field.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn">Войти</button>
    </form>
</div>
{% endblock %}
