{% extends "catalog/base.html" %}

{% block title %}{{ product.name }}{% endblock %}
product-card {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 300px;
    margin: 20px;
    text-align: center;
}

product-card img {
    max-width: 100%;
    height: auto;
}

product-card h1 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-card p {
    font-size: 1.2em;
}
{% block content %}

    <div class="product-card">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
        <p>Цена: {{ product.price }} руб.</p>
        <button>Купить</button>
    </div>
{% endblock %}