{% extends "catalog/base.html" %}

{% block title %}Каталог{% endblock %}

{% block content %}
<h1>Каталог</h1>
<div class="product-container">
    {% for product in products %}
    <div class="product-card">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>Цена: {{ product.price }}₽</p>
        <a href="{% url 'add_to_cart' product.id %}"><button type="submit" class="btncart">Добавить в корзину</button></a>
    </div>
    {% endfor %}
</div>
{% endblock %}